// 提供一些fancode的标志性的颜色
$background-color: rgb(217, 218, 216);
$base-border-color: #e7e7e7;
// 基本颜色
$base-blue-color: rgb(77, 164, 251);

// layout相关设置
$base-menu-width: 260px;
$base-menu-background: #ffffff;
$base-header-background: #ffffff;
$base-header-height: 50px;